<head>
  {% if site.analytics.google %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "{{ site.analytics.google }}");
  </script>
  <!-- End Google Analytics -->
  {% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <title>{% if page.title %}{{ page.title | append: " | " | append: site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Meta Data -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="robots" content="index,follow"/>
  <meta name="description" content="{{ site.description }}"/>
  <meta property="og:title" content="{{ site.title }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:url" content="#">
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{{ site.url }}/assets/img/banner/afs-og-banner.png"/>
  <meta property="og:image:alt" content="{{ site.description }}"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>
  <link rel="canonical" href="/"/>

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icons/icon-180.png" />
  <link rel="icon" type="image/png" href="/assets/img/icons/icon-32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/assets/img/icons/icon-16.png" sizes="16x16" />

  <!-- Bootstrap core CSS -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Google Fonts: Montserrat : Rubik -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="assets/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this theme -->
  <!--<link href="assets/css/agency.min.css" rel="stylesheet">-->
  <link href="assets/css/agency.css" rel="stylesheet" />

  <!-- Page container change top padding when nav shrinks -->
  {% if page.layout == "page" %}
  <style>
    #pagecontainer {
      padding-top: 150px;
    }
    @media only screen and (max-width: 991px) {
      #pagecontainer {
        padding-top: 100px;
      }
    }
  </style>
  {% endif %}
</head>
