<section class="page-section" id="landing">
  <div id="dots" class="">
    <img class="img-fluid" src="/assets/img/forest-skufca-memphis.jpg" data-src="/assets/img/forest-skufca-memphis.jpg" />
  </div>
  <div class="container">
    <div class="row align-items-center" style="user-select:none;">
      <div class="col-12 col-md-10">
        <h1 class="hero-title mt-2 py-sm-5">
          Forest Skufca
          <span>Sr Marketing Operations Manager</span>
        </h1>
      </div>
      </div>
      <div class="row" style="user-select:none;">
        <div class="col-12 col-md-8 col-lg-6">
          <h4 class="mt-4">👋 Hi <span class="hue-shift" id="message"></span></h4>
          <h2>I'm a strategic thinker with a passion for driving growth through data-driven marketing.</h2>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-md-8">
          <h4>View <a href="/assets/img/resume.pdf" target="blank">my resume</a> &amp; let's chat <a href="mailto:forestskufca@gmail.com
">forestskufca@gmail.com</a></h4>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- url peram -->
<script>
window.addEventListener('load', function() {
  const urlParams = new URLSearchParams(window.location.search);
  const hi = urlParams.get('hi');
  if (hi) { // Only run if 'hi' parameter exists
    const customText = `${hi},`;
    const targetElement = document.getElementById('message');
    if (targetElement) { // Only set 'innerHTML' if target element exists
      targetElement.innerHTML = customText;
    }
  }
});
</script>

<!-- Portriat Dots JS -->
<script src="https://breathing-halftone.desandro.com/dist/breathing-halftone.pkgd.js"></script>
<script>
  var img = document.querySelector('#dots img');
  new BreathingHalftone( img, {
    dotSize: 1/120,
    dotSizeThreshold: .2,
    initVelocity: .7,
    oscPeriod: 1,
    oscAmplitude: 0.3,
    isAdditive: true,
    // channels: ['lum'],
    channels: [ 'blue', 'green', 'blue' ],
    friction: .3
    // hoverForce: -0.2
    // hoverForce: 0
  });
</script>









