// Button Styles
.btn {
  @include body-font;
  font-weight: 500;
  color: white;
  border-radius: 40px;
  transition: .15s ease-out;
}

.btn-lg {
  font-size: 17px;
  padding: 13px 24px;
}

.btn-xl {
  font-size: 18px;
  padding: 18px 33px;
}

.btn-primary {
  background-color: $brand-blue;
  background: linear-gradient(0deg, $brand-blue 0%, $brand-blue 50%, $brand-blue 100%);
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    // background-color: $brand-blue !important;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, darken($brand-blue,12%) 0%, $brand-blue 30%, $brand-blue 70%, darken($brand-blue,12%) 100%);
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }
}
