#page-top.landing {

  footer{display: none;}

  .section-subheading {
    color: $brand-blue;
  }
}

#landing {
  position: relative;

  h1.hero-title {
    font-size: 2.25rem;
    font-weight: 800;
    letter-spacing: 0;
    margin-bottom: .2em;

    span {
      display: block;
      font-weight: 200;
    }

    @media (max-width: 780px) {font-size: 1.9rem;}
    @media (max-width: 450px) {font-size: 1.45rem;}
  }

  h2, h4 {
    font-size: 1.42rem;
    margin: 0;
    font-weight: 500;
    line-height: 1.35;

    @media (max-width: 780px) {font-size: 1.25rem;}
    @media (max-width: 450px) {font-size: 1.1rem;}
  }
  h2 {color: $gray;}
}

.icon {
  svg {
    display: inline-block;
    width: 28px;
    height: auto;
  }
}

#dots {
  position: absolute;
  top: 0;
  right: 2%;
  overflow: hidden;

  img, canvas {
    filter: contrast(0.82);
    width: 50vw;
    max-width: 540px;
    opacity: .27;
    transform: translate(0%, 3.5%);
  }
}

.hue-shift {
  // background-image: -webkit-linear-gradient(358deg, #f35626, #feab3a);
  // background-image: linear-gradient(92deg, #f35626, #feab3a);
  // -webkit-background-clip: text;
  // text-fill-color: transparent;
  // -webkit-background-clip: text;
  // text-fill-color: transparent;
  background-size: 200%;
  background-image: linear-gradient(105deg, #D16BA5, #86A8E7, #5FFBF1, #86A8E7, #D16BA5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: text 5s linear infinite both;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes text {
  from {
    background-position: 0 0;
  }
  
  to {
    background-position: 200% 200%;
  }
}