#page-top.landing {
  color: #ededed;

  footer{display: none;}

  .section-subheading {
    color: $brand-red;
  }
}

#landing {
  background: #111;
  // background: linear-gradient(0deg, rgba(215,121,139,1) 0%, rgba(126,57,124,1) 50%, rgba(61,28,81,1) 100%);
  position: relative;
  min-height: 100vh;
  padding: 10vh 0;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: -1px;
  //   background: #232323;
  //   background: linear-gradient(180deg, rgba(35,35,35,.65) 0%, rgba(35,35,35,.7) 65%, rgba(35,35,35,1) 100%);
  // }

  h1 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 6rem;
    font-weight:  100;
    letter-spacing: 2px;
    text-align: center;
    color: #f35626;
    margin-bottom: .2em;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;

    @media (max-width: 780px) {font-size: 4.85rem;}
    @media (max-width: 450px) {font-size: 3.7rem;}
  }

  h4 {
    margin: 0;
    color: #bbb;
  }
}


@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}