// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
  background-color: #072B31;
  color: #FAFAFA;

  // &.light-mode {
  //   background-color: #FAFAFA;
  //   color: #171717;
  // }
  // &.dark-mode {
  //   background-color: #072B31;
  //   color: #FAFAFA;
  // }
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  word-break: break-word;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: .025em;
  margin-bottom: 1em;
  line-height: 1.3em;

  &.marker {
    &:before {
      content: '';
      display: block;
      height: 4px;
      width: 85px;
      background: $primary;
      margin-bottom: 1em;
    }
  }
}

h1 {
  font-size: 2.4rem;
  @media (max-width: 768px) {font-size: 1.85rem;}
  @media (max-width: 420px) {font-size: 1.6rem;}
}
h2 {
  font-size: 2rem;
  @media (max-width: 768px) {font-size: 1.7rem;}
  @media (max-width: 420px) {font-size: 1.45rem;}
}
h3 {
  font-size: 1.7rem;
  @media (max-width: 768px) {font-size: 1.5rem;}
  @media (max-width: 420px) {font-size: 1.25rem;}
}
h4 {
  font-size: 1.5rem;
  @media (max-width: 768px) {font-size: 1.38rem;}
  @media (max-width: 420px) {font-size: 1.2rem;}
}

// Font Size Mixin
@function pxToRem($pxSize) {
  @return $pxSize / 16 + rem;
}
@mixin font-size() {

  $font-size-list: 14 16 20 24;

  @each $value in $font-size-list {
    .font-size-#{$value} {
      font-size: pxToRem($value);
    }
  }
}
@include font-size()

// HR : Horizontal Rules
hr {margin: 1rem 0;}
hr.tex-1 {
  width: 100%;
  position: relative;
  border: 0;
  margin: 7rem 0;

  @media (max-width: 768px) {margin: 5.5rem 0;}
  @media (max-width: 420px) {margin: 3.5rem 0;}

  &:before,
  &:after {
    content: '';
    display: block;
    height: 8px;
    width: 100%;
    left: 0;
  }
  &:before {
    background: repeating-linear-gradient(
      45deg,
      #444,
      #444 5px,
      transparent 0px,
      transparent 20px
    );
  }
  &:after {
    background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 8px,
      #444 0px,
      #444 10px
    );
  }
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    // font-size: 40px;
    margin-top: 0;
    margin-bottom: 1.2em;
  }
  h3.section-subheading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1em;
    text-transform: none;
    letter-spacing: .07em; 
    @media (max-width: 420px) {font-size: 16.5px;}
  }
}
@media (min-width: 768px) { 
  section {
    padding: 150px 0;
  }
}

// Paragraph and list
ul {
  margin-left: 8px;
  padding-left: 10px;

  li {margin-bottom: .25em;}

  &.brand {
    list-style: none; /* Remove default bullets */

    li:before {
      content: "\2022";
      color: $brand-blue; 
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.no-padding {
  padding-left: 0!important;
  padding-right: 0!important;
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}


.embed-container {position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;}
.embed-container iframe,
.embed-container object,
.embed-container embed {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.google-map {
  filter: invert(1) contrast(.846) hue-rotate(100deg) grayscale(.8);
}
